<h1>Editing reading</h1>

<% form_for(@reading) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :job_id %><br />
    <%= f.text_field :job_id %>
  </p>
  <p>
    <%= f.label :patch_id %><br />
    <%= f.text_field :patch_id %>
  </p>
  <p>
    <%= f.label :spectral_1 %><br />
    <%= f.text_field :spectral_1 %>
  </p>
  <p>
    <%= f.label :spectral_2 %><br />
    <%= f.text_field :spectral_2 %>
  </p>
  <p>
    <%= f.label :spectral_3 %><br />
    <%= f.text_field :spectral_3 %>
  </p>
  <p>
    <%= f.label :spectral_4 %><br />
    <%= f.text_field :spectral_4 %>
  </p>
  <p>
    <%= f.label :rgb_r %><br />
    <%= f.text_field :rgb_r %>
  </p>
  <p>
    <%= f.label :rgb_g %><br />
    <%= f.text_field :rgb_g %>
  </p>
  <p>
    <%= f.label :rgb_b %><br />
    <%= f.text_field :rgb_b %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @reading %> |
<%= link_to 'Back', readings_path %>