<p>
  <b>Name:</b>
  <%=h @patch.name %>
</p>

<p>
  <b>Spectral 1:</b>
  <%=h @patch.spectral_1 %>
</p>

<p>
  <b>Spectral 2:</b>
  <%=h @patch.spectral_2 %>
</p>

<p>
  <b>Spectral 3:</b>
  <%=h @patch.spectral_3 %>
</p>

<p>
  <b>Spectral 4:</b>
  <%=h @patch.spectral_4 %>
</p>

<p>
  <b>Rgb r:</b>
  <%=h @patch.rgb_r %>
</p>

<p>
  <b>Rgb g:</b>
  <%=h @patch.rgb_g %>
</p>

<p>
  <b>Rgb b:</b>
  <%=h @patch.rgb_b %>
</p>


<%= link_to 'Edit', edit_patch_path(@patch) %> |
<%= link_to 'Back', patches_path %>