<p>
  <b>Id:</b>
  <%=h @tolerances.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @tolerances.name %>
</p>

<p>
  <b>De:</b>
  <%=h @tolerances.de %>
</p>

<p>
  <b>Decmc:</b>
  <%=h @tolerances.decmc %>
</p>

<p>
  <b>De94:</b>
  <%=h @tolerances.de94 %>
</p>

<p>
  <b>De2000:</b>
  <%=h @tolerances.de2000 %>
</p>


<%= link_to 'Edit', edit_tolerances_path(@tolerances) %> |
<%= link_to 'Back', tolerances_path %>